/* default styles */

/*Colorful Static Fade In*/
#ColorfulStatic {
  opacity: 0;
  transition: opacity 7s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.visible {
  display: block;
  opacity: 1;
}

/*body work*/
body, ul {
  margin: 0;
  padding: 0;
}
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  text-align: center;
}

/*Welcome to Artunia Placement*/
header {
  background: radial-gradient(circle, #ced9ed, #cfc7fa, #e2c6ee, #efc8dd, #d7e9db);
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

/* Navigation Bar*/
nav ul {
  background-color: #000;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  display: inline-block;
}

nav ul li a:hover {
  background:radial-gradient(circle, #ced9ed, #cfc7fa, #e2c6ee, #efc8dd, #d7e9db);
  color: #000;
}

main {
  padding: 20px;
}

main h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header {
  color: black;
  font-weight: bold;
  text-align: center;
}

  .slide-in {
    color: black;
    display: inline-block;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 8.5s forwards;
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(1);
    }
  }

  .slide-in:nth-child(1) {
    animation-delay: 1.5s;
  }
  .slide-in:nth-child(2) {
    animation-delay: 3.25s;
  }

  .slide-in:nth-child(3) {
    animation-delay: 3.5s;
  }

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Other footer styles */

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Other footer styles */
}
