/* default styles */
body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

nav ul {
  background-color: #688;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

main h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  orientation: center;
}
